{% extends 'base.html' %}
{% block content %}
<hr>
<table>
  <tbody>
    <tr><td><b>Subject</b></td><td> {{ eml['subject'] }} </td></tr>
    <tr><td><b>From</b></td><td> {{ eml['from'] }} </td></tr>
    {% for part in eml.walk() %}
    <tr>
      <td><b>part-{{ loop.index }}</b></td>
      <td>
        <a href="{{ url_for('show_email', gmid=gmid, idx=(loop.index -1)) }}">
        {{ part.get_content_type() }}
        </a>
      </td>
      <td>{{ part.get_filename() or '' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
{% if body.get_content_type() == 'text/plain' %}
  <pre> {{ body }} </pre>
{% else %}
   {{ body|safe }} 
{% endif %}
{% endblock %}

