{% extends 'base.html' %}
{% block content %}
<a href='{{ url_for("refresh_meta") }}'><button> Refresh meta </button> </a>
<hr>
<table>
  <thead>
    <tr>
      <td>Datetime</td>
      <td>Subject</td>
      <td>From</td>
      <td>To</td>
      <td>Labels</td>
    </tr>
  </thead>
  <tbody>
  {% for eml in meta.values() %}
    <tr>
      <td>{{ short_time(eml.stamp) }}</td>
      <td><a href="{{ url_for('show_email', gmid=eml.gmid) }}">{{ (eml.subject or '')[:50] }}</a>{{ render_ctypes(eml.ctypes) }}</td>
      <td>{{ (eml.sender or '')[:50] }}</td>
      <td>{{ (eml.recipient or '')[:50] }}</td>
      <td>{{ eml.labels }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
